### Задание 1
Импортируйте библиотеки pandas и numpy.

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки

составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [92]:
import pandas as pd

In [93]:
import numpy as np

In [94]:
from sklearn import datasets

In [95]:
from sklearn.metrics import mean_squared_error, r2_score

In [96]:
from sklearn.datasets import load_boston

In [97]:
answer_is = 42

In [98]:
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [99]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [100]:
data = boston.data

In [101]:
feature_names = boston.feature_names
x = pd.DataFrame(data, columns=feature_names)

In [102]:
target = boston.target
y = pd.DataFrame(target, columns=['price'])

In [103]:
x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [104]:
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [105]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [106]:
from sklearn.model_selection import train_test_split

In [107]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=answer_is)

In [108]:
from sklearn.linear_model import LinearRegression

In [109]:
lr = LinearRegression()

In [110]:
lr.fit(x_train, y_train)

LinearRegression()

In [111]:
 predictions = lr.predict(x_test)

In [112]:
y_pred_lr = lr.predict(x_test)

In [113]:
check_test_lr = pd.DataFrame({"y_test": y_test["price"],
                              "y_pred_lr": y_pred_lr.flatten()},
                            columns=["y_test", "y_pred_lr"])

In [114]:
check_test_lr.head(10)

     y_test  y_pred_lr
173    23.6  28.838854
274    32.4  36.007833
491    13.6  15.083248
72     22.8  25.230909
452    16.1  18.878641
76     20.0  23.213983
316    17.8  17.593112
140    14.0  14.305081
471    19.6  23.054390
500    16.8  20.620083

In [115]:
initial_mse = (check_test_lr['y_pred_lr'], check_test_lr['y_test'])
print(initial_mse)

(173    28.838854
274    36.007833
491    15.083248
72     25.230909
452    18.878641
         ...
418     3.284209
117    23.798796
42     25.733299
322    23.048156
347    24.730468
Name: y_pred_lr, Length: 127, dtype: float64, 173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
       ...
418     8.8
117    19.2
42     25.3
322    20.4
347    23.1
Name: y_test, Length: 127, dtype: float64)

In [116]:
from sklearn.metrics import mean_squared_error

In [117]:
initial_mse = mean_squared_error(y_test, y_pred_lr)
initial_mse

22.09869482709843

### Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000,

max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,

но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],

чтобы получить из датафрейма одномерный массив Numpy,

так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [118]:
from sklearn.ensemble import RandomForestRegressor

In [119]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=answer_is)

In [120]:
clf.fit(x_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [121]:
y_pred_clf = clf.predict(x_test)
check_test_clf = pd.DataFrame({
    "Y_test": y_test["price"], 
    "Y_pred_clf": y_pred_clf.flatten()})

check_test_clf.head()

     Y_test  Y_pred_clf
173    23.6   22.660402
274    32.4   30.705781
491    13.6   16.739989
72     22.8   23.644725
452    16.1   16.937232

In [122]:
mean_squared_error_clf = mean_squared_error(check_test_clf["Y_pred_clf"], check_test_clf["Y_test"])
print(mean_squared_error_clf)

10.110068657271116

In [123]:
print(initial_mse, mean_squared_error_clf)

22.09869482709843 10.110068657271116